.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #000;
  color: #BEB7A4;
}

mat-card {
  background-color: #e6f2ff;
}

mat-card-actions button {
  color: #000;
}

.favIcon {
  color: rgb(187, 22, 22);
}